

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #d3cabb;
}

#container {
	width: 980px;
	margin: 0 auto;
	background-color: white;
}

#header {
	/*padding: 48px 16px 0 16px; */
	/* overflow: hidden; */
	position: relative;
}

#header h1 img {
	/*display: block;*/
	/* float: left;	*/
	position: relative;
	left: 21px;	
}


#header ul#nav {
	position: absolute;	
	right: 20px;
	bottom: 35px;
}

#header ul#nav li {
	display: inline;
	list-style: none;	
}

#header ul#nav li a {
	padding: 20px;
	text-transform: uppercase; 
	color: #000000;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
}

#header ul#nav li a:hover {
	color: #c09f66;	
}

#content {
	margin: 0 auto;
}

#banner {
	height: 311px;
}

#banner img {
	display: block;
	margin: 0 auto;
}

#heading {
	
}

#heading h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0 0 0;
	font-family: 'Fjalla One', sans-serif;
	font-size: 62px;
	letter-spacing: -0.05em;
	color: #6e5320;
}

#heading h2 {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-style: italic;
	margin-bottom: 20px;
}

#columns {
	width: 938px;
	/*position: relative;*/
	margin: 0 auto;
	height: 238px;
}

#tree-columns {
	width: 865px;
	/*position: relative;*/
	margin: 0 auto;	
	height: 657px;
}

#tree-columns img.wood2 {
	left: 290px;
}

#tree-columns img.wood3 {
	left: 580px;
}

.toggler { 
	position: relative;
}

.toggler img {
	position: absolute;	
}

.toggler img:nth-child(2), .toggler img:nth-child(3) {
    display: none;
}

#columns img.wood {
	
}

#columns img.story {
	right: 0px;
}

#preorder {
	margin: 10px auto;
	position: relative;
	width: 938px;
	height: 191px;
}

#preorder img {
	position: absolute;
}

#footer {
	padding-bottom: 60px;
}

#footer > img {
	margin: 0 auto; 
	display: block;		
}

#footer #social {
	width: 138px;
	height: 36px;
	margin: 10px auto;
}

#footer #social a {
	float: left;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	margin: 0 5px;
}

#footer p {
	text-align: center;
	font-family: 'Helvetica Light', sans-serif;
	font-size: 12px; 	
	color: #6e5320;
	margin: 28px;
}